/* You can add global styles to this file, and also import other style files */
table {border-collapse:collapse; table-layout:fixed; width:310px;}
table td {border:solid 1px #000000; width:100px; word-wrap:break-word;}